//COLORS
$color-primary-red: hsl(0, 78%, 62%);
$color-primary-cyan: hsl(180, 62%, 55%);
$color-primary-orange: hsl(34, 97%, 64%);
$color-primary-blue: hsl(212, 86%, 64%);

$color-neutral-vdBlue: hsl(234, 12%, 34%);
$color-neutral-grayBlue: hsl(229, 6%, 66%);
$color-neutral-vlGray: hsl(0, 0%, 98%);

//FONT
$font-default: 1.5rem;
