.header {
    max-width: 111rem;
    height: 31.1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 8.9rem;
        font-size: 3.6rem;
        line-height: 1;
        color: $color-neutral-vdBlue;

        @media only screen and (max-width: 30em) {
            font-size: 2.5rem;
        }

        &--light {
            font-weight: 300;
            margin-bottom: 1.4rem;

            @media only screen and (max-width: 30em) {
                margin-bottom: 1.2rem;
            }
        }

        &--bold {
            font-weight: 600;
            margin-bottom: 2.5rem;

            @media only screen and (max-width: 30em) {
                margin-bottom: 2.3rem;
            }
        }
    }

    &__intro {
        text-align: center;
        max-width: 50rem;
        font-size: 1.5rem;
        line-height: 1.8;
        color: $color-neutral-grayBlue;

        @media only screen and (max-width: 30em) {
            max-width: 30rem;
        }
    }
}

.cards {
    max-width: 111rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 62.5em) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 7.7rem;
    }

    &__left,
    &__middle {
        margin-right: 3rem;

        @media only screen and (max-width: 62.5em) {
            margin-right: 0;
        }
    }

    &__middle {
        @media only screen and (max-width: 62.5em) {
            margin-bottom: 3rem;
        }

        @media only screen and (max-width: 30em) {
            margin-bottom: 2.5rem;
        }
    }

    .card {
        display: flex;
        flex-direction: column;
        height: 25rem;
        width: 35rem;
        border-radius: 5px;
        box-shadow: 0 2rem 3rem rgba($color-neutral-vdBlue, 0.2);
        padding: 3rem;
        position: relative;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            transform: translateY(5px);
            box-shadow: 0 2rem 2rem rgba($color-neutral-vdBlue, 0.25);
        }

        @media only screen and (max-width: 30em) {
            height: 22rem;
            width: 31rem;
            padding: 2.7rem;
        }

        &-heading {
            font-size: 2rem;
            color: $color-neutral-vdBlue;
            line-height: 1;
            margin-bottom: 2rem;
        }

        &-info {
            font-size: 1.3rem;
            color: $color-neutral-grayBlue;
        }

        &-icon {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            height: 100%;

            & > img {
                @media only screen and (max-width: 30em) {
                    width: 5.7rem;
                    height: 5.7rem;
                }
            }
        }

        &-cyan {
            border-top: 4px solid $color-primary-cyan;

            @media only screen and (max-width: 62.5em) {
                margin-bottom: 3rem;
            }

            @media only screen and (max-width: 30em) {
                margin-bottom: 2.5rem;
            }
        }

        &-red {
            border-top: 4px solid $color-primary-red;
            margin-bottom: 3rem;

            @media only screen and (max-width: 30em) {
                margin-bottom: 2.5rem;
            }
        }

        &-orange {
            border-top: 4px solid $color-primary-orange;
        }

        &-blue {
            border-top: 4px solid $color-primary-blue;
        }
    }
}
